@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            background-image: url('/images/photo1.jpg');
            background-size: cover;
            background-color: white;
        }
    </style>
</head>


<form ... style="background: url('@Url.Content("~/images/photo1.jpg")');">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
        <h1 style="font-family:'Arabic Typesetting';font-size:125px;color:Highlight;">جمعية رحماء </h1>

    </div>

</form>

@*<img src="C:\Users\HP-PC\source\repos\Social$Form - Copy\Social$orm\images\photo1.jpg" />
<img src="file:///C:/Users/HP-PC/source/repos/Social$Form%20-%20Copy/Social$orm/images/photo1.jpg" />*@





<style type="text/css">
    body {
        background-image: url('~/images/photo1.jpg');
    }
</style>
