@model Social_orm.Models.SocialHelp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SocialHelp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="InstitutionName" class="control-label"></label>
                <input asp-for="InstitutionName" class="form-control" />
                <span asp-validation-for="InstitutionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label"></label><br>
                <input asp-for="duration" type="radio" name="duration" id="duration" value="weekly" /> Weekly<br>
                <input asp-for="duration" type="radio" name="duration" id="duration" value="monthly" /> Monthly<br>
                <input asp-for="duration" type="radio" name="duration" id="duration" value="yearly" /> Yearly<br>
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiarID" class="control-label"></label>
                <select asp-for="BeneficiarID" class="form-control" asp-items="ViewBag.BeneficiarID"></select>
                <span asp-validation-for="BeneficiarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>

<br>
<hr>
<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>

<br>
<form method="post" asp-action="Cancel">
    <input type="submit" value="Cancel" class="btn btn-secondary" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
